<footer class="footer" id="footer">
  <button class="footer__button">
    <a href="#hero" class="footer__button--up">
      <img src="./assets/images/ico-arrow.svg" alt="Volver arriba" />
    </a>
  </button>
  <nav>
    <ul class="footer__menu">
      <li>
        <a href="#header" class="footer__menu--link">ARTICLES</a>
      </li>
      <li>
        <a href="#header" class="footer__menu--link">BOOKS</a>
      </li>
      <li>
        <a href="#header" class="footer__menu--link">EVENTS</a>
      </li>
      <li>
        <a href="#header" class="footer__menu--link">REASONS</a>
      </li>
      <li>
        <a href="#header" class="footer__menu--link">TIPS</a>
      </li>
    </ul>
  </nav>
  <ul class="footer__social">
    <li>
      <a href="#header" class="footer__social--link">TWITTER</a>
    </li>
    <li>
      <a href="#header" class="footer__social--link">INSTAGRAM</a>
    </li>
    <li>
      <a href="#header" class="footer__social--link">MASTODON.SOCIAL</a>
    </li>
  </ul>
  <div class="footer__welovecopy">
    <small class="footer__copy">&copy;2017</small>
    <small class="footer__motto">
      we
      <small class="footer__heart">&hearts;</small>
      components
    </small>
  </div>
</footer>
