<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>Evaluation</title>
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="header"></partial>
      <partial src="_hero.html" label="hero"></partial>
      <partial src="_newsection.html" label="newsection"></partial>
      <partial src="_main.html" label="main"></partial>
      <partial src="_section.html" label="section"></partial>
      <partial src="_footer.html" label="footer"></partial>
    </div>
  </body>
</html>
