.new-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $button-color;
  color: $primary-color;

  &__link {
    color: $primary-color;
  }
}

@media all and (min-width: 768px) {
  .new-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    background-color: $footer-color;
  }
}
