.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 634px;
  background-color: $background-grid-color;
  padding: 0 15px 0 15px 0; /*se podría crear una variable para el padding de columna central de la página.*/

  &__title {
    font-family: $titles-font;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 30px 15px 30px 15px;
  }
  &__item {
    font-family: $text-font;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 0 55px 0 55px;
  }
  &__item--title {
    font-family: $titles-font;
  }
  &__button {
    background-color: $button-color;
    height: 45px;
    border-radius: 2em;
    margin: 0 70px 60px 70px;
    transition-duration: 0.2s;
  }
  &__button:hover {
    background-color: $footer-color;
  }
  &__button--text {
    background-color: none;
    text-decoration: none;
    font-family: $button-font;
    font-weight: bold;
    font-size: 18px;
    color: $primary-color;
  }
}
